body {
font-family: Roboto;
}

li > a{ text-decoration: none;
}

li > a:hover {
text-decoration: underline;
}

li > a:focus {
text-decoration: underline;
}

li {
padding-top: 0.5em;
padding-bottom:0.5em;
}





#errLink { color: #0469c7; }

.errorDiv {
background-color: #f9e9e8;
color: #333333;
outline-style:none;
}

.errText {
color: #ca261a;
}

#errBorder {
background-color: #CA261A;
color: #CA261A;
height:100%;
width: 0.25em;
border-width: 0;
opacity: 1;
}



h2 {
font-size: 1em;
padding-bottom: 0.5em;
padding-top: 1.5em;
}

.inlineMsg {
padding-top: 0.25em;
}
