li > a{ text-decoration: none;
outline-style: solid;
}

li > a:hover {
text-decoration: underline;
}

li > a:focus {
text-decoration: underline;
}

li {
padding-top: 0.75em;
padding-bottom:0.75em;
}

span {font-size: 0.875em;

}


#errLink { color: #0469c7; }

.errorDiv {
background-color: #f9e9e8;
color: #333333;
font-family: Helvetica;
outline-style:none;
}

.errText {
color: #ca261a;

}

#errBorder {
background-color: #ca261a;
color: #ca261a;
width: 0.25em;
height:100%;
}



h2 {
font-size: 1em;
padding-bottom: 0.75em;
padding-top: 0.75em;
}


